.pt-1 {
    padding-top: 16px;
}

.pr-1 {
    padding-right: 16px;
}

.pb-1 {
    padding-bottom: 16px;
}

.pl-1 {
    padding-left: 32px;
}

.pt-2 {
    padding-top: 32px;
}

.pr-2 {
    padding-right: 32px;
}

.pb-2 {
    padding-bottom: 32px;
}

.pl-2 {
    padding-left: 32px;
}

.pt-3 {
    padding-top: 48px;
}

.pr-3 {
    padding-right: 48px;
}

.pb-3 {
    padding-bottom: 48px;
}

.pl-3 {
    padding-left: 48px;
}

.pt-4 {
    padding-top: 64px;
}

.pr-4 {
    padding-right: 64px;
}

.pb-4 {
    padding-bottom: 64px;
}

.pl-4 {
    padding-left: 64px;
}

.pt-5 {
    padding-top: 80px;
}

.pr-5 {
    padding-right: 80px;
}

.pb-5 {
    padding-bottom: 80px;
}

.pl-5 {
    padding-left: 80px;
}
