body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    background-color: rgb(234, 234, 234);
    margin: 0;
}

a {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-image {
    background-image: url("../img/mbr-10.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-shadow {
    background-color:rgba(0, 0, 0, .5);
}

.btn {
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px;
}

.input {
    padding: 7px;
    width: 200px;
    height: 25px;
    border-radius: 2px;
    border: none;
    outline: none;
}

/* .scale:hover {
    transform: scale(1.2);
    border: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
} */

.img {
    width: 200px;
    height: 120px;
}

.w-550 {
    width: 550px;
}

.lh-30 {
    line-height: 30px;
}

.lh-25 {
    line-height: 25px;
}

.wrap {
    flex-wrap: wrap;
}

.w-300 {
    width: 300px;
}

.i-flex {
    display: inline-flex;
}

.w-350 {
    width: 350px;
}

.fz-12 {
    font-size: 12px;
}

.wh {
    width: 100px;
    height: 200px;
    object-fit: cover;
}

.w-170 {
    width: 170px;
}

.lh-20 {
    line-height: 20px;
}